<html>
  <head>
    <title>Contactos Acme</title>
    <meta content="">
    <style></style>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">    
  </head>
  <body>
  
   <header>    
   <h1><a href="/contactos"> Contactos Acme </a></h1> 
   <div id="acciones">
   <form action="/contactos/buscar/" method="get">
{% csrf_token %}
    <input type="text" name="q" id="busqueda" placeholder="Buscar contactos"/>
         
    <input type="submit" value="Buscar"/>
</form>

 
</div>
   <hr>
   </header>
   
   <div id="contenido">
   
